{% extends 'basic/main.html' %}
{%block title%} this is About|PAGE {%endblock%}
{%block myblock %}
<div class="common_style">
  
  <section class="about_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-container">
            <img src="/static/images/about.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about_detail-box">
            <h3>
              <h1>{{about.title}}</h1>
            </h3>
            <p>{{about.description}}</p>
            <div class="">
              <a href="" class="call_to-btn btn_white-border">
                Read More
              </a>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </section>

</div>


{%endblock%}















































