{% extends 'basic/main.html' %}
{%block title%} this is WHY|PAGE {%endblock%}
{% block myblock %}
  <section class="contact_section ">

    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="d-flex justify-content-center d-md-block">
            <h2>
              Contact Us
            </h2>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                  <input required name="name" type="text" placeholder="Name">
                </div>
                <div>
                  <input required name="email" type="email" placeholder="Email">
                </div>
                <div>
                  <input required name="phone" type="text" placeholder="Phone Number">
                </div>
                <div class="mt-5">
                  <input required name="massage"  type="text" placeholder="Message">
                </div>
                <div class="mt-5">
                  <button type="submit" name="submitBtn">
                    send
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="/static/images/students.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
 
</body>

</html>
{% endblock %}
