{% extends 'basic/main.html' %}
{%block title%} this is HOME|PAGE {%endblock%}
{%block myblock %}
  <div class="top_container">
    <!-- header section strats -->

    <section class="hero_section ">
      <div class="hero-container container">
        <div class="hero_detail-box">
          <h1>
            Best way
            to fund
            your study
            abroad
          </h1>
          <p>
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam
          </p>
          <div class="hero_btn-continer">
            <a href="" class="call_to-btn btn_white-border">
              Read More
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="/static/images/hero.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>

   
  {%endblock%}