{% extends 'main.html' %}

{% block title %}
Create bolimi
{% endblock %}



{% block content %}
<center>

    <div class="card card-body mt-5 w-50 shadow bg-dark">
        <form action="" method="post">
            <div class="mt-5 w-50  mb-3">
                <div class="d-fles">
                    <a href="{% url 'home_page' %}">home page</a>
                </div>
                <div class="card-title">
                    <h4 style="color: white;">Tavar yaratish</h4>
                </div>
            </div>
            {% csrf_token %}
    
        <div class="form-floating ">
            <input required name="title" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Tavar Nomi </label>
        </div>
        <div class="form-floating">
            <input required name="description" type="text" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Malumoti</label>
        </div>
        <div class="form-floating">
            <input required name="narxi" type="number" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Tavar Narxi</label>
        </div>
        <div class="form-floating">
            <input required name="qushilgansana" type="option" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Tavarni qushilganSanasi</label>
        </div>
        <div class="form-floating mb-3">
        
            <select required name="sifati" class="form-select" aria-label="Default select example">
                
                <option selected>....</option>
                <option value="alo">alo</option>
                <option value="yaxshi">yaxshi</option>
                <option value="qoniqasiz">qoniqasiz</option>
                
            </select>
            <label for="floatingInput">Tavar Sifati</label>
            
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-outline-info w-25">Save</button>
        </div>
    </div>
</center>
{% endblock %}