{% extends 'main.html' %}

{% block title %}
home page
{% endblock %}



{% block content %}
<nav  class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'create_task' %}">Card Qoshish</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page"" href="{% url 'detail_page'%}">Detail Btn</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> <span>Yakunlangan tasklar: {{ user_tasks_count }}</span></a>
          </li>

         
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
          </li>
         
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success"  type="submit">Search</button>
        </form>

      </div>
    </div>
</nav>


 
    
    {% if tasks %}
    {% for task in tasks %}
    <center>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
    </center>
    <center>
                <div class="card">

                    <div class="card-body btn btn-outline-dark ">
                        <h5 class="{% if task.complated %}text-info{% endif %}"><h8 style="color: red;">Nomi:</h8> {{ task.title }}</h5>
                        <h5 class="{% if task.complated %}text-info{% endif %}"><h8 style="color: red;">Narxi:</h8> {{ task.narxi}} ming sum</h5>
                        <h5 class="{% if task.complated %}text-info{% endif %}"><h8 style="color: red;">Malumoti:</h8> {{ task.description}}</h5>
                        <h5 class="{% if task.complated %}text-info{% endif %}"><h8 style="color: red;">sifati:</h8>{{ task.sifati }}</h5>
                        <div><a class="btn btn-danger" href="{% url 'delete_task' task.id %}">Delete</a></div> 
                    </div>

                </div>

            </div>
        </div>
    </center>
        {% endfor %}
        {% else %}
        
        <h5 class="alert alert-primary">Oka hammasini uchirip tashladingizku logikani ishlating</h5>
        
        {% endif %}

  
  
{% endblock %}