{% extends 'main.html' %}


{% block title %}
Uyga vazifa | Register
{% endblock %}


{% block content %}

   <div>
       <div class="card card-body mt-5  bg-dark">
          
    
           <div class="card-title">
               <h4 style="color: white;">Register</h4>
           </div>
           <form method="post">
               {% csrf_token %}
    
               <div class="form-floating ">
                   <input class="form-control my-3" type="text" placeholder="Parol tastiqlash" name="username">
                   <label for="floatingInput">Username</label>
               </div>
               <div class="form-floating">
                   <input class="form-control my-3" type="password" placeholder="Parol tastiqlash" name="password">
                   <label for="floatingPassword">Parol</label>
               </div>
               <div class="form-floating">
                   <input class="form-control my-3" type="password" placeholder="Parol tastiqlash" name="password2">
                   <label for="floatingPassword">Parol tastiqlash</label>
               </div>
               <span style="color: white; margin-left: 20px">Akkunt mavjudmi unda mana shunga bosing    --> <a href="{% url 'login'%}">Login</a></span>br
               <button type="submit" class="btn btn-outline-info w-15">Yuborish</button>
           </form>
           {% if error %}
           <div class="alert alert-danger my-2">
               {{ error }}
           </div>
           {% endif %}
         
       </div>
   </div> 


{% endblock %}